Source: zimbra-web-client
Section: mail
Priority: optional
Build-Depends: debhelper (>=9), ant, ant-contrib, git, default-jdk, ivy,
  zimbra-common-core-dev, zimbra-taglib, zimbra-ajax-dev
Standards-Version: 3.9.6
Maintainer: Enrico Weigelt, metux IT consult <info@metux.net>
Uploaders: Enrico Weigelt, metux IT consult <info@metux.net>

Package: zimbra-mbox-webclient-war
Section: mail
Priority: optional
Architecture: any
Depends: zimbra-core-jar-store
Description: LibreZimbra webclient
